<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>133506619676-jehnrn022s7e97ul1q63t6m926b08rkk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.133506619676-jehnrn022s7e97ul1q63t6m926b08rkk</string>
	<key>API_KEY</key>
	<string>AIzaSyCtp0m7OpyH37-XsfKJv9_OuquhtvmW9_o</string>
	<key>GCM_SENDER_ID</key>
	<string>133506619676</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.haat.HAAT-Assignment</string>
	<key>PROJECT_ID</key>
	<string>haat-f889f</string>
	<key>STORAGE_BUCKET</key>
	<string>haat-f889f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:133506619676:ios:90c0fea03282eb8ced02d9</string>
</dict>
</plist>